h1{
    background-color: black;
    color: aliceblue;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'News Cycle', sans-serif;
    font-family: 'Pragati Narrow', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Flex', sans-serif;
    
}

#main div{
    background-color:  hsl(0, 0%, 11%);
    color: aliceblue;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'News Cycle', sans-serif;
    font-family: 'Pragati Narrow', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Flex', sans-serif;
    
    


    display: grid;
    justify-items: center;
}

ul {
    color: aliceblue;
  

    
    list-style-type: disc;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

/* main{
    background-color: black;
} */

b{
    color: aliceblue;
    font-family: 'Libre Baskerville', serif;
    font-size: 30px;
    font-family: 'Libre Baskerville', serif;
font-family: 'News Cycle', sans-serif;
font-family: 'Pragati Narrow', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto Flex', sans-serif;


}

a{
    color: rgb(83, 83, 83);
    font-family: 'Fira Sans Condensed', sans-serif;
font-family: 'Libre Baskerville', serif;
font-family: 'News Cycle', sans-serif;
font-family: 'Pragati Narrow', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto Flex', sans-serif;

    
}
.div{
    font-size: 50px;
}

